<div class="flex w-full overflow-hidden">
  <!-- Sidebar -->
  <div
    class="fixed lg:relative top-0 left-0 z-30 !h-[100dvh] sidebar-transition bg-white border-r border-gray-200"
    [class.translate-x-0]="visibleDrawer"
    [class.-translate-x-full]="!visibleDrawer"
    [class.lg:translate-x-0]="sidenavMode === 'side'"
    [ngClass]="{ 'w-[240px]': !isCollapsed, 'w-[80px]': isCollapsed }"
  >
    <app-sidebar
      [collapsed]="isCollapsed"
      [sidenavMode]="sidenavMode"
      (toggleSidebarAfterSelect)="sidenavMode === 'over' ? handleSidenavToggle() : null"
      (toggleSidebar)="handleSidenavToggle()"
    ></app-sidebar>
  </div>

  <!-- Main Content -->
  <div
    class="flex flex-col flex-1 transition-all duration-300 ease-in-out !h-[100dvh] min-w-0"
    [ngClass]="{
      'lg:max-w-[calc(100vw-80px)]': isCollapsed,
      'lg:max-w-[calc(100vw-240px)]': !isCollapsed,
    }"
  >
    <app-header [collapsed]="isSidebarCollapsed()" (toggleSidebar)="handleSidenavToggle()"></app-header>

    <main class="flex-1 bg-gray-50 overflow-auto min-h-0 p-4 lg:p-6">
      <router-outlet />
    </main>

    <app-footbar class="sticky bottom-0 z-10 shrink-0"></app-footbar>
  </div>

  <!-- Overlay for mobile -->
  @if (sidenavMode === 'over' && visibleDrawer) {
    <div
      class="fixed inset-0 bg-black/20 z-20 lg:hidden transition-all duration-300 ease-in-out"
      (click)="handleSidenavToggle()"
    ></div>
  }
</div>
